<!DOCTYPE html>

<div class="contentHome">
    <a href="{{linkToPolice}}"><img src="{{exampleOnePic}}" style="height:300px"></img></a>
    <p style="font-size:30px">{{exampleOne}}</p> 
</div>
<div class="contentProjects secondFromTop contentHome2">
    <a href="{{linkToDawg}}"><img src="{{exampleTwoPic}}"></img></a>
    <p style="font-size:30px">{{exampleTwo}}</p> 
</div>
<div class="contentHome">
    <a href="{{linkToReview}}"><img src="{{exampleThreePic}}"></img></a>
    <p style="font-size:30px">{{exampleThree}}</p> 
</div>