<!DOCTYPE html>

<div class="contentProjects">
    <a href="{{linkToPolice}}"><img src="{{exampleOnePic}}" style="height:300px"></img></a>
    <p id="topProjectPara">{{exampleOne}}</p> 
</div>
<div class="contentProjects2">
    <a href="{{linkToDawg}}"><img id="dawgCoffee" src="{{exampleTwoPic}}"></img></a>
</div>
<div>
  <p class="paragraphProjects">{{exampleTwo}}</p> 
</div>
<div class="contentProjects3">
    <a href="{{linkToReview}}"><img src="{{exampleThreePic}}"></img></a>
    <p class="paragraphProjects">{{exampleThree}}</p> 
</div>